body{
    position:relative;
    background-color: rgb(254, 254, 255);
    font-size: 12px;
    font-family: Arial,  sans-serif;
}
.nav{
    margin-top: 19px;
    text-align: right;
    font-size: 20px;
    font-family: 微软雅黑;
    text-decoration: underline;
    
}

.nav a{
margin-right: 33px;
color:#333;
font-weight:bold;
}
.nav a:hover{
color:#03c
}

/* 第二部分 */
.part-two img{
    margin-top: -200px;
    margin:0px auto;
    display:block;
    height: 500px;
    
}
.input{
    
    margin: 0px auto;
    display: block;
    margin-top: 0px;
    
}
.demo1{
    
width:640px;
height:44px;
outline:#4e6ef2;
 margin-left: 200px;
}
.demo2{
    width: 150px;
    height: 50px;

    line-height: 45px;
    cursor: pointer;
    background-color: #4e6ef2;
    color:#fff;
    font-weight: 400px;
    border: none;
    border-radius: 0 10px 10px 0;
    font-size: 17px;
    text-align: center;
    margin-right: 425px;
}



/* 第三部分 */

.picture img{
    margin: 0px auto;
   width: 200px;
   height: 200px;
    display: block;
    margin-top:20px;
    
}
.dao2 p{
    margin:auto;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    color: dimgrey;
    margin-top: 100px;
}
.dao1 p{
    margin:auto;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    margin-top: 5px;
    color:darkgrey
}
.bottom a {
      color:grey;
}
.bottom{
    text-align: center;
}