.tab-control{
    display: flex;
    align-items: center;
    height: 40px;
}
.tab-control .item{
    font-size: 30px;
    flex: 1;
}
.tab-control .item.active{
    color:red
}
.tab-control .item.active .text{
    padding: 3px;
    border-bottom: 3px solid red;
}